
<%- include('partials/header') %>
<body>
    <nav>
        <h1><a href="/">CREED CARS</a></h1>
        <a href="/logout">Logout</a>
    </nav>
<ul class="cars">
    <li class="description">
        <img src="/car1.png">
        <h4>Buggati 475</h4>
        <p>400 horse power,500liter cylinder</p>
    </li>
</ul>
<ul class="cars">
    <li class="description">
        <img src="/car1.png">
        <h4>Buggati 475</h4>
        <p>400 horse power,500liter cylinder</p>
    </li>
</ul>
<ul class="cars">
    <li class="description">
        <img src="/car1.png">
        <h4>Buggati 475</h4>
        <p>400 horse power,500liter cylinder</p>
    </li>
</ul>
<ul class="cars">
    <li class="description">
        <img src="/car1.png">
        <h4>Buggati 475</h4>
        <p>400 horse power,500liter cylinder</p>
    </li>
</ul>
<ul class="cars">
    <li class="description">
        <img src="/car1.png">
        <h4>Buggati 475</h4>
        <p>400 horse power,500liter cylinder</p>
    </li>
</ul>
<ul class="cars">
    <li class="description">
        <img src="/car1.png">
        <h4>Buggati 475</h4>
        <p>400 horse power,500liter cylinder</p>
    </li>
</ul>

<%- include('partials/footer') %>