<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
    <title>CARHolic</title>
<nav>
    <ul>
    <li><a href="signup" class="btn">Signup</a></li>
    <li><a href="login">login</a></li>
    </ul>
</nav>
<header>
    <div class="car">
        <img src="/car1.png" alt="cool car">
    </div>
    <div class="headings">
        <h2>Cool cars</h2>
        <h3>Cars to Modern life</h3>
        <a href="/cars" class="btn">View Cars</a>
    </div>
</header>

<%- include('partials/footer') %>