<%- include('partials/header') %>

<header>
    <div class="car">
        <img src="/car1.png" alt="cool car">
    </div>
    <div class="headings">
        <h2>Cool cars</h2>
        <h3>Cars to Modern life</h3>
        <a href="/cars" class="btn">View Cars</a>
    </div>
</header>

<%- include('partials/footer') %>