<%- include('partials/header') %>

<form method="post" action="/login" enctype="application/x-www-form-urlencoded">
    <h2>LOGIN</h2>
    <label for="username">Username:</label><input type="text" name="username" id="username">
    <div class="error username"></div>
    <label for="password">Password:</label><input type="password" name="password" id="password">
    <div class="error password"></div>
   <br/>
   <button class="button1">Log in</button>
    
   <button><a href="signup">Forgot password</a></button>
</form>

<%- include('partials/footer') %>