<%- include('partials/header') %>

<form method="post" action="/signup" enctype="application/x-www-form-urlencoded">
  <h2>Welcome to Signup</h2>
  <label for="username ">Username:</label><input type="text" name="username" id="username" required>
  <div class="username error"></div>
  <label for="email">Email:</label><input type="email" name="email" id="email">
  <div class="email error"></div>
  <label for="password">Password:</label> <input type="password" name="password" id="password" minlength="6" max="12" required>
  <div class="password error"></div>
 <label for="confirmPassword">Confirm-password:</label><input type="password" name="confirmPassword" id="re-password" required>
 <div class="error confirmPassword"></div>
 <br/> <br/>
 <button>Sign up</button>
</form>


<%- include('partials/footer') %>